.bodi-header{
    background-color: rgb(32, 28, 28);
    display: flex;
    gap: 20px;
    width: 100%;
    padding-left: 8%;
    /* vertical-align: middle; */
    /* align-items: center; */
}
.lforpgs{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.bdh{
    display: flex;
    /* position: sticky; */
}
.lforpgs:hover{
    color: white;
}
/* *{
    position: sticky;
} */